/* CSS vars */

:root {
    --palette-blue-10: rgb(233, 242, 255);
    --palette-blue-20: rgb(204, 224, 255);
    --palette-blue-30: rgb(133, 184, 255);
    --palette-blue-40: rgb(87, 157, 255);
    --palette-blue-50: rgb(56, 139, 255);
    --palette-blue-60: rgb(29, 122, 252);
    --palette-blue-70: rgb(12, 102, 228);
    --palette-blue-80: rgb(0, 85, 204);
    --palette-blue-90: rgb(9, 50, 108);
    --palette-blue-100: rgb(9, 50, 108);

    --palette-red-10: rgb(255, 236, 235);
    --palette-red-20: rgb(255, 213, 210);
    --palette-red-30: rgb(253, 152, 145);
    --palette-red-40: rgb(248, 113, 104);
    --palette-red-50: rgb(241, 91, 80);
    --palette-red-60: rgb(226, 72, 61);
    --palette-red-70: rgb(201, 55, 44);
    --palette-red-80: rgb(174, 46, 36);
    --palette-red-90: rgb(93, 31, 26);
    --palette-red-100: rgb(66, 34, 31);

    --palette-neutral-0: rgb(255, 255, 255);
    --palette-neutral-10: rgb(247, 248, 249);
    --palette-neutral-20: rgb(241, 242, 244);
    --palette-neutral-30: rgb(220, 223, 228);
    --palette-neutral-40: rgb(179, 185, 196);
    --palette-neutral-50: rgb(133, 144, 162);
    --palette-neutral-60: rgb(133, 144, 162);
    --palette-neutral-70: rgb(98, 111, 134);
    --palette-neutral-80: rgb(68, 84, 111);
    --palette-neutral-90: rgb(44, 62, 93);
    --palette-neutral-100: rgb(23, 43, 77);
    --palette-neutral-110: rgb(9, 30, 66);

    --palette-neutral-10a: rgba(9, 30, 66, 0.03);
    --palette-neutral-20a: rgba(9, 30, 66, 0.06);
    --palette-neutral-30a: rgba(9, 30, 66, 0.14);
    --palette-neutral-40a: rgba(9, 30, 66, 0.31);
    --palette-neutral-50a: rgba(9, 30, 66, 0.49);

    --palette-darkneutral-0: rgb(22, 26, 29);
    --palette-darkneutral-10: rgb(29, 33, 37);
    --palette-darkneutral-20: rgb(34, 39, 43);
    --palette-darkneutral-25: rgb(40, 46, 51);
    --palette-darkneutral-30: rgb(44, 51, 58);
    --palette-darkneutral-35: rgb(56, 65, 74);
    --palette-darkneutral-40: rgb(69, 79, 89);
    --palette-darkneutral-50: rgb(89, 103, 115);
    --palette-darkneutral-60: rgb(115, 132, 150);
    --palette-darkneutral-70: rgb(140, 155, 171);
    --palette-darkneutral-80: rgb(159, 173, 188);
    --palette-darkneutral-90: rgb(182, 194, 207);
    --palette-darkneutral-100: rgb(199, 209, 219);
    --palette-darkneutral-110: rgb(222, 228, 234);

    --palette-darkneutral-10a: rgba(188, 214, 240, 0.04);
    --palette-darkneutral-20a: rgba(161, 189, 217, 0.08);
    --palette-darkneutral-25a: rgba(200, 225, 249, 0.1);
    --palette-darkneutral-30a: rgba(166, 197, 226, 0.16);
    --palette-darkneutral-35a: rgba(195, 222, 254, 0.2);
    --palette-darkneutral-40a: rgba(191, 219, 248, 0.28);
    --palette-darkneutral-50a: rgba(155, 180, 202, 0.5);

    --colors-transparent: transparent;

    --colors-text: var(--palette-neutral-100);
    --colors-text-disabled: var(--palette-neutral-40a);
    --colors-text-inverse: var(--palette-neutral-0);
    --colors-text-subtle: var(--palette-neutral-80);
    --colors-text-subtler: var(--palette-neutral-70);
    --colors-text-danger: var(--palette-red-80);

    --colors-icon: var(--palette-neutral-80);
    --colors-icon-disabled: var(--palette-neutral-40a);
    --colors-icon-inverse: var(--palette-neutral-0);

    --colors-bg-disabled: var(--palette-neutral-10a);

    --colors-bg-input: var(--palette-neutral-0);
    --colors-bg-input-hovered: var(--palette-neutral-10);
    --colors-bg-input-active: var(--palette-neutral-0);

    --colors-bg-neutral: var(--palette-neutral-20a);
    --colors-bg-neutral-hovered: var(--palette-neutral-30a);
    --colors-bg-neutral-active: var(--palette-neutral-40a);

    --colors-bg-brand-subtle: var(--palette-blue-10);
    --colors-bg-brand-subtle-hovered: var(--palette-blue-20);
    --colors-bg-brand-subtle-active: var(--palette-blue-30);
    --colors-bg-brand: var(--palette-blue-70);
    --colors-bg-brand-hovered: var(--palette-blue-80);
    --colors-bg-brand-active: var(--palette-blue-90);

    --colors-bg-danger-subtle: var(--palette-red-10);
    --colors-bg-danger-subtle-hovered: var(--palette-red-20);
    --colors-bg-danger-subtle-active: var(--palette-red-30);
    --colors-bg-danger: var(--palette-red-70);
    --colors-bg-danger-hovered: var(--palette-red-80);
    --colors-bg-danger-active: var(--palette-red-90);

    --colors-surface: var(--palette-neutral-0);
    --colors-surface-hovered: var(--palette-neutral-20);
    --colors-surface-active: var(--palette-neutral-30);

    --colors-overlay: var(--palette-neutral-0);
    --colors-overlay-hovered: var(--palette-neutral-20);
    --colors-overlay-active: var(--palette-neutral-30);

    --colors-border: var(--palette-neutral-30a);
    --colors-border-focused: var(--palette-blue-50);
    --colors-border-input: var(--palette-neutral-50);
    --colors-border-disabled: var(--palette-neutral-20a);
    --colors-border-danger: var(--palette-red-60);

    --fontSizes-3xl: 2.25rem;
    --fontSizes-2xl: 1.875rem;
    --fontSizes-xl: 1.5rem;
    --fontSizes-lg: 1.25rem;
    --fontSizes-md: 1rem;
    --fontSizes-sm: 0.875rem;
    --fontSizes-xs: 0.75rem;

    --lineHeights-normal: 1.5;
    --lineHeights-snug: 1.3333;

    --fontWeights-regular: 400;
    --fontWeights-medium: 500;
    --fontWeights-semibold: 600;
    --fontWeights-bold: 700;

    --borderRadii-xs: 0.25rem;
    --borderRadii-sm: 0.375rem;
    --borderRadii-md: 0.5rem;
    --borderRadii-lg: 0.75rem;
    --borderRadii-xl: 1rem;
    --borderRadii-full: 9999px;

    --spaces-0: 0rem;
    --spaces-25: 0.125rem;
    --spaces-50: 0.25rem;
    --spaces-75: 0.375rem;
    --spaces-100: 0.5rem;
    --spaces-125: 0.625rem;
    --spaces-150: 0.75rem;
    --spaces-200: 1rem;
    --spaces-250: 1.25rem;
    --spaces-300: 1.5rem;
    --spaces-400: 2rem;
    --spaces-500: 2.5rem;
    --spaces-600: 3rem;
    --spaces-800: 4rem;
    --spaces-1000: 5rem;
}

:root.dark {
    --colors-text: var(--palette-darkneutral-90);
    --colors-text-disabled: var(--palette-darkneutral-40a);
    --colors-text-inverse: var(--palette-darkneutral-10);
    --colors-text-subtle: var(--palette-darkneutral-80);
    --colors-text-subtler: var(--palette-darkneutral-70);
    --colors-text-danger: var(--palette-red-30);

    --colors-icon: var(--palette-darkneutral-80);
    --colors-icon-disabled: var(--palette-darkneutral-40a);
    --colors-icon-inverse: var(--palette-darkneutral-10);

    --colors-bg-disabled: var(--palette-darkneutral-10a);

    --colors-bg-input: var(--palette-darkneutral-20);
    --colors-bg-input-hovered: var(--palette-darkneutral-25);
    --colors-bg-input-active: var(--palette-darkneutral-20);

    --colors-bg-neutral: var(--palette-darkneutral-20a);
    --colors-bg-neutral-hovered: var(--palette-darkneutral-30a);
    --colors-bg-neutral-active: var(--palette-darkneutral-40a);

    --colors-bg-brand-subtle: var(--palette-blue-100);
    --colors-bg-brand-subtle-hovered: var(--palette-blue-90);
    --colors-bg-brand-subtle-active: var(--palette-blue-80);
    --colors-bg-brand: var(--palette-blue-40);
    --colors-bg-brand-hovered: var(--palette-blue-30);
    --colors-bg-brand-active: var(--palette-blue-20);

    --colors-bg-danger-subtle: var(--palette-red-100);
    --colors-bg-danger-subtle-hovered: var(--palette-red-90);
    --colors-bg-danger-subtle-active: var(--palette-red-80);
    --colors-bg-danger: var(--palette-red-40);
    --colors-bg-danger-hovered: var(--palette-red-30);
    --colors-bg-danger-active: var(--palette-red-20);

    --colors-surface: var(--palette-darkneutral-10);
    --colors-surface-hovered: var(--palette-darkneutral-20);
    --colors-surface-active: var(--palette-darkneutral-25);

    --colors-overlay: var(--palette-darkneutral-25);
    --colors-overlay-hovered: var(--palette-darkneutral-30);
    --colors-overlay-active: var(--palette-darkneutral-35);

    --colors-border: var(--palette-darkneutral-30a);
    --colors-border-focused: var(--palette-blue-30);
    --colors-border-input: var(--palette-darkneutral-60);
    --colors-border-disabled: var(--palette-darkneutral-20a);
    --colors-border-danger: var(--palette-red-50);
}

/* Preflight */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Reset border style
*/

*,
::before,
::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
}

/*
1. Use a default line height.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Reset font.
5. Disable tap highlights on iOS
*/

html,
:host {
    line-height: var(--lineHeights-normal); /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
    font-family: 'Be Vietnam Pro', sans-serif; /* 4 */
    -webkit-tap-highlight-color: transparent; /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
3. Set default background and text colors.
*/

body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
    background-color: var(--colors-surface); /* 3 */
    color: var(--colors-text); /* 3 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
    text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
    color: inherit;
    text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/*
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-weight: inherit; /* 1 */
    line-height: inherit; /* 1 */
    letter-spacing: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
    text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
    outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
    box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
    padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
    resize: vertical;
}

/*
Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
*/

input::placeholder,
textarea::placeholder {
    opacity: 1; /* 1 */
}

/*
Set the default cursor for buttons.
*/

button,
[role='button'] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
    max-width: 100%;
    height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
    display: none;
}
