@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(var(--color-surface));
    color: rgb(var(--color-text-secondary));
}
